* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.dc {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(34, 34, 34);
    display: inline-block;
}
h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: rgb(252, 53, 53);
}
.time {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: rgb(100, 66, 235);
}

.time span {
    background-color: white;
    border: 2px solid rgb(18, 16, 16);
    padding: 10px 8px;
    border-radius: 5px;
    margin: 0 5px;
}
.container {
    text-align: center;
    width: 50%;
}
.side {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(150, 150, 150);
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.box-2 { background-color: #2e24ee; }


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two:hover {
    background-color: white;
}
.btn-two {
  color: #510bf3;
  font-weight: 600;
  transition: all 0.5s;
  position: relative; 
  font-size: 1.5rem;
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(9, 1, 1, 0.2);
  background-color: white;
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(8, 1, 1, 0.2);
  background-color: white;
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: red;
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: red;
}



